
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap');


*{
    margin: 0;
    padding: 0;
}

/*--------------------------------CABEÇALHO------------------------------------------------------------------- */

.cabecalho__imagem{
    width: 15%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 50px;
}

.cabecalho__link{
    padding: 0 0 0 100px;
    
}

.cabecalho__link__linha__link{
    display: flex;

}

.link{
    padding: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;

}

.link__especial{
    padding: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(237, 237, 237);
    border: 1px solid rgb(142, 154, 211);
    background-color: #353535;
    border-radius: 10px;
}

.link__especial:hover{
    color: rgb(40, 40, 40);
    background-color: #469d55;
    
}



/*--------------------------------CORPO------------------------------------------------------------------- */

body{
    background-color: #EFEFEF;
    color: rgb(34, 34, 34);
    box-sizing: border-box;
    height: 100vh; 
    margin-left: 10%;
    margin-right: 10%;
       
}


.imagem__principal{
    width: 85%;
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}

main{
    margin: 10%;
}

.lista__paragrafo{
    margin: 6%;
}

/*--------------------------------RODAPÉ------------------------------------------------------------------- */
footer{
    padding: 50px;
    margin-top: 50px;
}

.em__branco{
    background-color: rgb(131, 170, 214);
    color: rgb(131, 170, 214) ;
    margin-bottom: 50px;
}

.imagem__rodape{
    width: 10%;
}

.secao__rodape{
    display: flex;
}

.lista_rodape{
    text-decoration: none;
}

.link_rodape{
    text-decoration: none;
    margin-left: 10px;
}