@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,207;0,300;0,400;0,600;1,300&family=Poppins:wght@300&display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;*/


*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: 100vh;
    color: rgb(43, 43, 43);
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/*HEADER------------------------*/

.cabecalho__logotipo{
    height: 90px;
    padding: 15px 0 0 150px;
}

.cabecalho{
    background-color: black;
    color: rgb(201, 201, 201);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.cabecalho__menu{
    display: flex;
    flex-direction: row;
    padding: 0 150px 0 0;
    list-style-type: none;
    
}

.cabecalho__menu__header{
    padding: 50px;
}

a{
    text-decoration: none;
    color: rgb(185, 185, 185);
    cursor: pointer;
}

.cabecalho__menu__contato{
    border: 2px solid rgb(107, 107, 107);
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    background-color: rgb(107, 107, 107);
    color: rgb(237, 237, 237);
    cursor: pointer;
}


/*MAIN--------------------------*/

.conteudo__apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(240, 240, 240);
    color: rgb(72, 72, 72);
}

.conteudo__apresentacao__titulo{
    padding: 180px 0 0 150px;
    font-size: 30px;
}
h1{
    color: rgb(79, 79, 79);
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: rgb(79, 79, 79);
}

.conteudo__apresentacao__subtitulo{
    padding: 180px 160px 0 0;
    font-size: 20px;
}

.conteudo__minha__imagem{
    width: 70%;
    padding: 50px 60px 2px 0;
    opacity: 1;
    
}

.conteudo__portifolio{
    display: flex;
    flex-direction: row;
    background-color: rgb(133, 133, 133);
    justify-content: space-around;
    font-size: 30px;
}

.conteudo__portifolio__apresentacao{
    padding: 100px;
    color: rgb(0, 58, 109);
}

.imagem__html{
    height: 230px;
}

.imagem__css{
    height: 230px;
}

/*FOOTER-------------------------*/

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.footer__section__01{
    margin: 20px;
}

.lista__rodape{
    list-style-type: none;
    padding: 20px;
}