*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: 100vh;
    color: rgb(43, 43, 43);
    background-color: white;
}

/*HEADER------------------------*/

.cabecalho{
    background-color: black;
    color: rgb(201, 201, 201);
}

.cabecalho__logo{
    height: 5%;
}