header{
    background-color: rgb(122, 121, 116);
    color: rgb(15, 15, 15);
}

body {
    background-color: black;    
    color: rgb(196, 193, 189);
}


h1{
    color:rgb(255, 255, 255) ;
    font-family: cambria;
    font-weight: 10;
    font-size: 20px;
    
}

strong{
    color: #22D4FD;
    font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 25px;
}

p{
    color: white;
}



a {
    background-color: #22D4FD;
    font-size: 15px;
    color: black;
    padding: 1%;
    border-radius: 2mm;    
    
}

footer{
    background-color: rgb(79, 78, 77);
    color: aliceblue;
}

